//NET "CLK"           LOC = "p181" | IOSTANDARD = LVCMOS33;

NET "LED146"        LOC = "p146" | IOSTANDARD = LVCMOS33;
NET "LED147"        LOC = "p147" | IOSTANDARD = LVCMOS33;

NET "STATPIN"       LOC = "p69"  | IOSTANDARD = LVCMOS33;

NET "ADC_CLK"       LOC = "p75"  | IOSTANDARD = LVCMOS33;

NET "ADC_DATA[0]"   LOC = "p58" | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[1]"   LOC = "p57" | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[2]"   LOC = "p54" | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[3]"   LOC = "p50" | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[4]"   LOC = "p51" | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[5]"   LOC = "p49" | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[6]"   LOC = "p47" | IOSTANDARD = LVCMOS33;
NET "ADC_DATA[7]"   LOC = "p48" | IOSTANDARD = LVCMOS33;

